<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN” “http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="blogApp">
<head>
<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8" />
<title>{{site.SiteTitle}}</title>
<link rel="stylesheet" type="text/css" href="main.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
<link href=”css_filename.css” rel=”stylesheet” type=”text/css” />
</head>
<body ng-controller="blogCtrl">
	<div id="header">
		{{site.SiteHeader}}
	</div>
	<div id="siteBody">
	
	<div id="article" ng-hide="article == null">
	<span ng-click="article = null">View Main page</span>
	<h3>{{article.Title}}</h3><br />
	<span>{{article.Article}}</span><br /><br />
	<span ng-repeat="tag in article.Tags">{{tag}} </span><br />
	</div>
	
	<div id="content" ng-hide="article != null">
	{{site.Description}}
	<hr>
	<div class="sitesDesc" ng-repeat="article in site.Articles">
	<!--<img src="{{article.Image}}"  />-->
	<h3>{{article.Title}}</h3>
	{{article.Description}}
	<br>
	<br><a ng-href="{{article.Link}}" target="_blank">{{article.Title}}</a>
	
	<span ng-click="GetContent(article.Link)">{{article.Link}}</span>
	<hr>	
	</div>
	
	</div>
	</div>
	
	<div id="footer">
		Copyright Level Skull 2015
	</div>
	
	<script>
	angular.module('blogApp', ['ngSanitize']).controller('blogCtrl',['$scope','$http','$sce', function ($scope, $http,$sce) {
	$scope.site = null;
	$scope.showMain = true;
	$scope.article = null;
	
	$scope.test = "<h3>Test</h3>"
	
	$scope.getSite = function()
	{
		$http({
			method: 'GET',
			url:'https://dl.dropboxusercontent.com/u/22513949/LevelSkullBlog.txt'
		}).success(function (rs)
		{
			$scope.site = rs;			
		}
		)
	}
	
	$scope.getContent = function(path)
	{
		$http({
			method: 'GET',
			url:path
		}).success(function (rs)
		{
			$scope.article = rs;			
		}
		)
	}
	
	$scope.prepHTML = function(html)
	{
		console.log(html);
		return $sce.trustAsHtml(html);	
	};
	
	$scope.GetContent = function($v)
	{
		
		$scope.showMain = false;
		$scope.getContent($v);
	}
	
	
	$scope.getSite();	
}]);	
</script>
	
	
</body>
</html>